<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="script.js" defer></script>
</head>
<body>
    <h1>BOOKING APPOINTMENT APP</h1>
    <form onsubmit="handleSubmit(event)" >
        <label for="name">UserName</label><br>
        <input type="text" id="name" placeholder="username" name="name"><br><br>
        <label for="phoneNumber">Phone Number</label><br>
        <input type="number" id="phoneNumber" placeholder="PhoneNumber" name="phoneNumber"><br><br>
        <label for="Email">Email</label><br>
        <input type="email" id="Email" placeholder="email" name="Email"><br><br>
        <button type="submit">Submit</button>

    </form> 

    <h2>Retriving the data from Mysql database</h2>
    <ol>
    </ol>


</body>
</html>